@using X.PagedList.Mvc.Core
@model QuanLyTour.Models.DetailViewModel
@{
    ViewData["Title"] = "Tìm kiếm vé máy bay";
    Layout = "~/Views/Shared/_Detail.cshtml";
}
<!--===== INNERPAGE-WRAPPER ====-->
<!-- Search Container -->
<div class="container main-content">

    <!-- Search Form -->
    <div class="search-form-container">
        <div class="search-options-bar">
            <div class="container">
                <div class="search-type">
                    <div class="search-type-option" id="trip-type">
                        <span>Khứ hồi</span> <i class="fa fa-caret-down"></i>
                        <div class="dropdown-menu">
                            <ul>
                                <li data-value="round_trip" class="selected">Khứ hồi</li>
                                <li data-value="one_way">Một chiều</li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-type-option" id="passenger-count">
                        <span>1 khách</span> <i class="fa fa-caret-down"></i>
                        <div class="dropdown-menu passenger-dropdown">
                            <div class="passenger-selector">
                                <span>Số lượng khách:</span>
                                <div class="quantity-control-flight">
                                    <button class="decrease-btn" disabled><i class="fa fa-minus" style="margin: auto;"></i></button>
                                    <span class="quantity">1</span>
                                    <button class="increase-btn"><i class="fa fa-plus" style="margin: auto;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-type-option" id="ticket-class">
                        <span>Nhiều hạng</span> <i class="fa fa-caret-down"></i>
                        <div class="dropdown-menu">
                            <ul>
                                <li data-value="economy">Phổ thông</li>
                                <li data-value="premium_economy">Phổ thông đặc biệt</li>
                                <li data-value="business">Thương gia</li>
                                <li data-value="first">Hạng nhất</li>
                                <li data-value="multiple" class="selected">Nhiều hạng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-type-option" id="preferred-depart-time">
                        <span>Giờ đi ưu tiên: 09:00</span> <i class="fa fa-caret-down"></i>
                        <div class="dropdown-menu time-dropdown">
                            <ul id="depart-time-list">
                                <!-- Các mốc thời gian sẽ được thêm vào bằng JavaScript -->
                            </ul>
                        </div>
                    </div>
                    <div class="search-type-option" id="preferred-return-time">
                        <span>Giờ về ưu tiên: 15:00</span> <i class="fa fa-caret-down"></i>
                        <div class="dropdown-menu time-dropdown">
                            <ul id="return-time-list">
                                <!-- Các mốc thời gian sẽ được thêm vào bằng JavaScript -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-form">
            <div class="search-row">
                <div class="location-selector">
                    <div class="location from">
                        <div class="icon-wrapper">
                            <i class="fa fa-plane"></i>
                        </div>
                        <div class="location-info">
                            <span class="location-name">Đà Nẵng (DAD)</span>
                            <i class="fa fa-caret-down"></i>
                            <div class="airport-dropdown">
                                <div class="search-recent">
                                    <div class="dropdown-section-title">Sân bay tìm kiếm gần đây</div>
                                    <div class="airport-option" data-code="DAD" data-name="Đà Nẵng (DAD)">
                                        <div class="airport-code">Đà Nẵng (DAD)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Đà Nẵng</div>
                                    </div>
                                    <div class="airport-option" data-code="HAN" data-name="Hà Nội (HAN)">
                                        <div class="airport-code">Hà Nội (HAN)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Nội Bài</div>
                                    </div>
                                </div>
                                <div class="search-popular-domestic">
                                    <div class="dropdown-section-title">Sân bay nội địa phổ biến</div>
                                    <div class="airport-option" data-code="SGN" data-name="Hồ Chí Minh (SGN)">
                                        <div class="airport-code">Hồ Chí Minh (SGN)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Tân Sơn Nhất</div>
                                    </div>
                                </div>
                                <div class="search-popular-international">
                                    <div class="dropdown-section-title">Sân bay quốc tế phổ biến</div>
                                    <div class="airport-option" data-code="BKK" data-name="Bangkok (BKK)">
                                        <div class="airport-code">Bangkok (BKK)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Suvarnabhumi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swap-icon">
                        <i class="fa fa-exchange"></i>
                    </div>

                    <div class="location to">
                        <div class="icon-wrapper">
                            <i class="fa fa-plane"></i>
                        </div>
                        <div class="location-info">
                            <span class="location-name">Đà Nẵng (DAD)</span>
                            <i class="fa fa-caret-down"></i>
                            <div class="airport-dropdown">
                                <div class="search-recent">
                                    <div class="dropdown-section-title">Sân bay tìm kiếm gần đây</div>
                                    <div class="airport-option" data-code="DAD" data-name="Đà Nẵng (DAD)">
                                        <div class="airport-code">Đà Nẵng (DAD)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Đà Nẵng</div>
                                    </div>
                                    <div class="airport-option" data-code="HAN" data-name="Hà Nội (HAN)">
                                        <div class="airport-code">Hà Nội (HAN)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Nội Bài</div>
                                    </div>
                                </div>
                                <div class="search-popular-domestic">
                                    <div class="dropdown-section-title">Sân bay nội địa phổ biến</div>
                                    <div class="airport-option" data-code="SGN" data-name="Hồ Chí Minh (SGN)">
                                        <div class="airport-code">Hồ Chí Minh (SGN)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Tân Sơn Nhất</div>
                                    </div>
                                </div>
                                <div class="search-popular-international">
                                    <div class="dropdown-section-title">Sân bay quốc tế phổ biến</div>
                                    <div class="airport-option" data-code="BKK" data-name="Bangkok (BKK)">
                                        <div class="airport-code">Bangkok (BKK)</div>
                                        <div class="airport-fullname">Sân bay quốc tế Suvarnabhumi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="date-selector">
                    <div class="date-flight depart">
                        <div class="icon-wrapper">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="date-input" id="depart-date">
                    </div>

                    <div class="date-flight return">
                        <div class="icon-wrapper">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="date-input" id="return-date">
                    </div>
                </div>

                <div class="search-button-container">
                    <button class="btn btn-search">Tìm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Flight Routes -->
    <div class="flight-routes">
        <div class="outbound-route">
            <div class="route-info">
                <div class="route-cities">Hồ Chí Minh (SGN) → Đà Nẵng (DAD)</div>
                <div class="route-date">Thứ hai, 2025-09-22</div>
            </div>

            <div class="row">
                <div class="col-md-8" style="margin-bottom: 10px;">
                    <div class="filter-label">
                        <i class="fa fa-filter"></i> Lọc theo:
                    </div>
                    <div class="filter-buttons">
                        <div class="filter-dropdown">
                            <button class="dropdown-toggle">
                                <i class="fa fa-plane"></i> Hãng bay <i class="fa fa-caret-down dropdown-icon"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><input type="checkbox"> Vietnam Airlines</a></li>
                                <li><a href="#"><input type="checkbox"> VietJet Air</a></li>
                                <li><a href="#"><input type="checkbox"> Bamboo Airways</a></li>
                                <li><a href="#"><input type="checkbox"> VietravelAirlines</a></li>
                            </ul>
                        </div>
                        <div class="filter-dropdown">
                            <button class="dropdown-toggle">
                                <i class="fa fa-clock-o"></i> Giờ khởi hành <i class="fa fa-caret-down dropdown-icon"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><input type="checkbox"> Sáng sớm (00:00 - 06:00)</a></li>
                                <li><a href="#"><input type="checkbox"> Buổi sáng (06:00 - 12:00)</a></li>
                                <li><a href="#"><input type="checkbox"> Buổi chiều (12:00 - 18:00)</a></li>
                                <li><a href="#"><input type="checkbox"> Buổi tối (18:00 - 24:00)</a></li>
                            </ul>
                        </div>
                        <div class="filter-dropdown">
                            <button class="dropdown-toggle">
                                <i class="fa fa-list"></i> Tiện ích phổ biến <i class="fa fa-caret-down dropdown-icon"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><input type="checkbox"> Hành lý ký gửi</a></li>
                                <li><a href="#"><input type="checkbox"> Suất ăn trên máy bay</a></li>
                                <li><a href="#"><input type="checkbox"> Đổi vé linh hoạt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="filter-label">
                        <i class="fa fa-sort"></i> Sắp xếp theo:
                    </div>
                    <div class="filter-buttons">
                        <div class="filter-dropdown sort-dropdown">
                            <button class="dropdown-toggle">
                                HANOITOUR đề xuất <i class="fa fa-caret-down dropdown-icon"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Giá thấp nhất</a></li>
                                <li><a href="#">Khởi hành sớm nhất</a></li>
                                <li><a href="#">Khởi hành muộn nhất</a></li>
                                <li><a href="#">Thời gian bay ngắn nhất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="price-note">
                <div class="price-included">
                    <i class="fa fa-check-circle"></i> Giá đã bao gồm thuế phí
                </div>
                <button class="btn btn-refresh update-price-btn">
                    <i class="fa fa-refresh"></i> Cập nhật giá
                </button>
            </div>
        </div>

        <div class="flight-results-container">
            <div class="flight-column">
                <div class="flight-heading">
                    <i class="fa fa-star"></i> Đề xuất chuyến đi tốt nhất
                </div>

                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="VietravelAirlines">
                        </div>
                        <div class="airline-name">VietravelAirlines - Eco Saver</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">09:00</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 20p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">10:20</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 20kg
                                </div>
                                <div class="price-flight">752.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="Vietnam Airlines">
                        </div>
                        <div class="airline-name">Vietnam Airlines - Eco Basic</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">07:15</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 25p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">08:40</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 7kg
                                </div>
                                <div class="price-flight">895.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="other-flights">Các chuyến bay chiều đi khác</div>

                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="VietJet Air">
                        </div>
                        <div class="airline-name">VietJet Air - Eco</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">11:30</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 15p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">12:45</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 7kg
                                </div>
                                <div class="price-flight">625.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flight-column">
                <div class="flight-heading">
                    <i class="fa fa-star"></i> Đề xuất chuyến về tốt nhất
                </div>

                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="Bamboo Airways">
                        </div>
                        <div class="airline-name">Bamboo Airways - Eco</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">15:00</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 25p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">16:25</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 15kg
                                </div>
                                <div class="price-flight">815.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="Vietnam Airlines">
                        </div>
                        <div class="airline-name">Vietnam Airlines - Business</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">17:45</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 20p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">19:05</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 30kg
                                </div>
                                <div class="price-flight">2.450.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="other-flights">Các chuyến bay chiều về khác</div>

                <div class="flight-card">
                    <div class="airline-info">
                        <div class="airline-logo">
                            <img src="/api/placeholder/100/30" alt="VietJet Air">
                        </div>
                        <div class="airline-name">VietJet Air - Eco</div>
                    </div>

                    <div class="flight-details">
                        <div class="flight-time">
                            <div class="time-from">
                                <div class="time">12:20</div>
                                <div class="location">Đà Nẵng (DAD)</div>
                            </div>

                            <div class="flight-duration">
                                <div class="duration-line">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="duration-time">01h 15p</div>
                                <div class="flight-type">Bay thẳng</div>
                            </div>

                            <div class="time-to">
                                <div class="time">13:35</div>
                                <div class="location">Hồ Chí Minh (SGN)</div>
                            </div>
                        </div>

                        <div class="flight-price-actions">
                            <div class="flight-links">
                                <a href="#" class="flight-link">
                                    <i class="fa fa-info-circle"></i> Chi tiết chuyến bay
                                </a>
                                <a href="#" class="flight-link">
                                    <i class="fa fa-ticket"></i> Chi tiết vé
                                </a>
                            </div>

                            <div class="price-section">
                                <div class="baggage">
                                    <i class="fa fa-suitcase"></i> Hành lý 7kg
                                </div>
                                <div class="price-flight">690.000 <span>VND</span></div>
                                <a href="#" class="btn btn-select">Chọn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
       document.addEventListener('DOMContentLoaded', function() {
        // Hàm chung để đóng tất cả dropdown
        function closeAllDropdowns(exceptElement = null) {
            // Đóng tất cả search-type-option dropdowns
            const searchTypeOptions = document.querySelectorAll('.search-type-option');
            searchTypeOptions.forEach(option => {
                if (exceptElement !== option) {
                    option.classList.remove('active');
                }
            });

            // Đóng tất cả filter-dropdowns
            const filterDropdowns = document.querySelectorAll('.filter-dropdown');
            filterDropdowns.forEach(dropdown => {
                if (exceptElement !== dropdown) {
                    dropdown.classList.remove('open');
                }
            });

            // Đóng tất cả location-info dropdowns
            const locationInfos = document.querySelectorAll('.location-info');
            locationInfos.forEach(info => {
                if (exceptElement !== info) {
                    info.classList.remove('active');
                }
            });
        }

        // Xử lý dropdown cho search-type-option (Khứ hồi, Nhiều hạng, Giờ đi, v.v.)
        const searchTypeOptions = document.querySelectorAll('.search-type-option');
        console.log('Số lượng search-type-option tìm thấy:', searchTypeOptions.length);
        searchTypeOptions.forEach(dropdown => {
            dropdown.addEventListener('click', function(e) {
                console.log('Nhấp vào search-type-option');
                closeAllDropdowns(this);
                this.classList.toggle('active');
                e.stopPropagation();
            });

            const dropdownMenu = dropdown.querySelector('.dropdown-menu');
            if (dropdownMenu) {
                const menuItems = dropdownMenu.querySelectorAll('li');
                menuItems.forEach(item => {
                    item.addEventListener('click', function(e) {
                        const value = item.getAttribute('data-value');
                        const text = item.textContent.trim();
                        dropdown.querySelector('span').textContent = text;
                        menuItems.forEach(mi => mi.classList.remove('selected'));
                        item.classList.add('selected');
                        dropdown.classList.remove('active'); // Đóng dropdown sau khi chọn
                        e.stopPropagation();
                    });
                });
            }
        });

        // Xử lý điều chỉnh số lượng hành khách
        const decreaseBtn = document.querySelector('.decrease-btn');
        const increaseBtn = document.querySelector('.increase-btn');
        const quantityDisplay = document.querySelector('.quantity');
        if (decreaseBtn && increaseBtn && quantityDisplay) {
            decreaseBtn.addEventListener('click', function(e) {
                let quantity = parseInt(quantityDisplay.textContent);
                if (quantity > 1) {
                    quantity--;
                    quantityDisplay.textContent = quantity;
                    document.querySelector('#passenger-count span').textContent = quantity + ' khách';
                    if (quantity === 1) {
                        decreaseBtn.setAttribute('disabled', 'disabled');
                    }
                }
                e.stopPropagation();
            });

            increaseBtn.addEventListener('click', function(e) {
                let quantity = parseInt(quantityDisplay.textContent);
                if (quantity < 10) {
                    quantity++;
                    quantityDisplay.textContent = quantity;
                    document.querySelector('#passenger-count span').textContent = quantity + ' khách';
                    decreaseBtn.removeAttribute('disabled');
                }
                e.stopPropagation();
            });
        }

        // Xử lý dropdown sân bay (location-info)
        const locationInfos = document.querySelectorAll('.location-info');
        console.log('Số lượng location-info tìm thấy:', locationInfos.length);
        locationInfos.forEach(info => {
            info.addEventListener('click', function(e) {
                console.log('Nhấp vào location-info');
                closeAllDropdowns(this);
                this.classList.toggle('active');
                e.stopPropagation();
            });

            const options = info.querySelectorAll('.airport-option');
            options.forEach(option => {
                option.addEventListener('click', function(e) {
                    console.log('Chọn sân bay:', this);
                    const code = this.getAttribute('data-code');
                    const name = this.getAttribute('data-name');
                    info.querySelector('.location-name').textContent = name;
                    info.classList.remove('active'); // Đóng dropdown sau khi chọn
                    e.stopPropagation();
                });
            });
        });

        // Xử lý dropdown cho filter-dropdown (bộ lọc chuyến bay)
        const filterDropdowns = document.querySelectorAll('.filter-dropdown');
        console.log('Số lượng filter-dropdown tìm thấy:', filterDropdowns.length);
        filterDropdowns.forEach(dropdown => {
            const toggleButton = dropdown.querySelector('.dropdown-toggle');
            if (toggleButton) {
                toggleButton.addEventListener('click', function(e) {
                    console.log('Nhấp vào filter-dropdown');
                    closeAllDropdowns(dropdown);
                    dropdown.classList.toggle('open');
                    e.stopPropagation();
                });
            }

            const menu = dropdown.querySelector('.dropdown-menu');
            if (menu) {
                menu.addEventListener('click', function(e) {
                    e.stopPropagation();
                });
            }
        });

        // Xử lý nút swap địa điểm
        const swapButton = document.querySelector('.swap-icon');
        if (swapButton) {
            swapButton.addEventListener('click', function(e) {
                const fromLocation = document.querySelector('.location.from .location-name').textContent;
                const toLocation = document.querySelector('.location.to .location-name').textContent;
                document.querySelector('.location.from .location-name').textContent = toLocation;
                document.querySelector('.location.to .location-name').textContent = fromLocation;
                e.stopPropagation();
            });
        }

        // Xử lý thời gian ưu tiên
        const departTimeList = document.getElementById('depart-time-list');
        const returnTimeList = document.getElementById('return-time-list');
        if (departTimeList && returnTimeList) {
            for (let hour = 0; hour < 24; hour++) {
                for (let minute = 0; minute < 60; minute += 30) {
                    const formattedTime =
                        hour.toString().padStart(2, '0') + ':' +
                        minute.toString().padStart(2, '0');

                    const departLi = document.createElement('li');
                    departLi.textContent = formattedTime;
                    departLi.addEventListener('click', function(e) {
                        document.querySelector('#preferred-depart-time span').textContent = 'Giờ đi ưu tiên: ' + formattedTime;
                        e.stopPropagation();
                    });
                    departTimeList.appendChild(departLi);

                    const returnLi = document.createElement('li');
                    returnLi.textContent = formattedTime;
                    returnLi.addEventListener('click', function(e) {
                        document.querySelector('#preferred-return-time span').textContent = 'Giờ về ưu tiên: ' + formattedTime;
                        e.stopPropagation();
                    });
                    returnTimeList.appendChild(returnLi);
                }
            }
        }

        // Khởi tạo ngày mặc định
        const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);

        function formatDateForInput(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        const departDateInput = document.getElementById('depart-date');
        const returnDateInput = document.getElementById('return-date');
        if (departDateInput && returnDateInput) {
            departDateInput.value = formatDateForInput(today);
            returnDateInput.value = formatDateForInput(tomorrow);

            departDateInput.addEventListener('change', function(e) {
                console.log('Ngày đi đã thay đổi:', this.value);
                e.stopPropagation();
            });

            returnDateInput.addEventListener('change', function(e) {
                console.log('Ngày về đã thay đổi:', this.value);
                e.stopPropagation();
            });
        }

        // Xử lý button "Cập nhật giá"
        const updatePriceBtn = document.querySelector('.update-price-btn');
        if (updatePriceBtn) {
            updatePriceBtn.addEventListener('click', function(e) {
                console.log('Nhấp vào button Cập nhật giá');
                location.reload(); // Tải lại trang
                e.stopPropagation();
            });
        }

        // Đóng tất cả dropdown khi nhấp ra ngoài
        document.addEventListener('click', function() {
            console.log('Nhấp ra ngoài');
            closeAllDropdowns();
        });
    });
</script>