@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LoginUser.cshtml";
}

<section class="innerpage-wrapper">
    <div id="forgot-password" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex-content">
                        <div class="custom-form custom-form-fields">
                            <h3>Quên mật khẩu</h3>

                            @if (ViewBag.SuccessMessage != null)
                            {
                                <div class="alert alert-success">@ViewBag.SuccessMessage</div>
                            }
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                            }

                            @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Nhập email của bạn" required name="email" />
                                    <span><i class="fa fa-envelope"></i></span>
                                </div>

                                <button class="btn btn-orange btn-block">Gửi mã xác nhận</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
